*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;/*normally not inherited, forces to inherit from body*/
}

/* Set root font size for rem*/
html {
    font-size: 62.5%;/*base on 16px font, basis of using rem instead of px*/

    @include respond(tab-land) {
        font-size: 56.25%;//1rem = 9px
    }
    @include respond(tab-port) {
        font-size: 50%;//1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%;//1rem = 12px
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0rem;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}